:root {
    --primary-blue: rgb(64, 140, 239);
    --primary-black: #2E2E2E;
    --primary-black-rgba: rgba(46, 46, 46, .75);

    --hero-height: 17rem;
    --mobile-margin: 1.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

* {
    color: var(--primary-black);
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

h1 {font-size: 24px; font-family: 'DM Serif Display', serif; margin: 0;}
h2 {font-size: 15px; font-family: 'DM Serif Display', serif;}
h3 {font-size: 14px; font-family: 'Arimo', sans-serif; font-weight: bold;}
p  {font-size: 14px; font-family: 'Arimo', sans-serif;}

html, body, main, header, footer, .modal {
    overflow-x: hidden;
}

body {
    background-image: url(../graphics/wallpaper.svg);
    background-repeat: repeat;
}

/* Header / Hero */

#slideshow img {
    filter: blur(1px);
    height: var(--hero-height);
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    object-fit: cover;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
}

#hero-filter {
    background: linear-gradient(180deg, rgba(103,218,232,0.75) 10%, rgba(103,218,232,0.5) 40%, rgba(103,218,232,0.5) 100%);
    height: var(--hero-height);
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

#hero-content {
    position: absolute;
    width: 100%;
    z-index: 3;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

#hero-content h1:first-of-type, #hero-content h2 {
    float: left;
    margin: 0;
    color: white;
    font-weight: bold;
}

#title {
    margin: var(--mobile-margin) auto;
}

#hero-content p {
    float: right;
    color: white;
}

#hero-content p:first-of-type {
    margin-left: 1rem;
}

#hero-content h2, #recipe-desc {
    clear: both;
}

#recipe-desc {
    font-weight: normal;
}

#hero-content h1:last-of-type {
    clear: both;
    text-align: center;
    font-weight: bold;
    margin: 4.5rem auto 0 auto;
    max-width: 20rem;
}

/* Main */

main {
    padding-top: var(--hero-height);
    margin: auto;
    max-width: 75rem;
}

main h1, #modal-recipe h1:last-of-type, .modal:last-child, #modal-welcome h1, #modal-welcome a, #modal-help h2, #modal-help p:last-of-type {
    text-align: center;
}

#search input {
    height: 100%;
    width: 85%;
    float: left;
    padding: 1rem;
}

input[type=search]{
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
    font-size: 14px; font-family: 'Arimo', sans-serif;
}

input[type=search]:focus {
    color: var(--primary-black);
}

.filter p {
    position: absolute;
    padding: .8rem 1rem;
    opacity: .70;
}

#search button, .filter button {
    width: 15%;
    height: 100%;
    background-color: var(--primary-blue);
    float: right;
    /* transform: scale(1.02); */
    /* This corrects the outline render issues */
}

#search button img, .filter button img {
    transform: translateY(.2rem);
    -webkit-user-select:none;
    -webkit-touch-callout: none;
}

#no-results h1 {
    margin: var(--mobile-margin) 0;
}

.button-style {
    margin: 1rem auto;
    padding: 1rem 2rem;
    clear: both;
    border: var(--primary-blue) solid .2rem;
    border-radius: .5rem;
    color: var(--primary-black);
    background-color: white;
    font-family: 'Arimo', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modal-welcome button {
    width: 100%;
}

#no-results-button {
    margin-left: 50%;
    transform: translateX(-50%);
}

#criteria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#search, .filter {
    margin: var(--mobile-margin);
    height: 3rem;
    width: 100%;
    max-width: 20rem;
    border: var(--primary-blue) solid;
    background-color: white;
}

.filter {
    font-family: 'arimo', sans-serif;
}

.control-checkbox img {
    width: 2rem;
    height: 2rem;
}

#search, .filter {
    margin: calc(var(--mobile-margin)/2) auto;
}

#filter-open {
    height: fit-content;
}

#filter-open button {
    height: 2.625rem;
}

#filter-protein svg {
    fill: var(--primary-blue);
    width: 1.875rem;
}

/* Modal */

.modal {
    position: fixed;
    padding: 0 var(--mobile-margin);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-black-rgba);
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
}

/* #modal-hitbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-hitbox-box {
    height: 100%;
    width: max-content;
    background-color: blue;
} */

.modal-content {
    background-color: white;
    max-width: 50rem;
    margin: var(--mobile-margin) auto;
    height: fit-content;
    border-radius: 1.25rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-close {
    position: fixed;
    top: 1rem;
    right: 6%;
    z-index: 15;
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotate(45deg);
}

.modal-close span {
    position: relative;
    z-index: 20;
    width: .25rem;
    height: 3rem;
    background-color: rgb(95, 95, 95);
    /* top: .375rem; */
}

.modal-close span:first-of-type {
    left: .125rem;
}

.modal-close span:last-of-type {
    left: -.125rem;
    transform: rotate(270deg);
}

.modal-hero {
    border-radius: 1.25rem 0 0 0;
}

.modal-hero img {
    object-fit: cover;
    object-position: 120% 67%;
    width: 101%;
    max-width: 101%;
    height: 10rem;
    border-radius: 1.25rem 0 0 0;
}

div.modal-content-main {
    padding: 0 var(--mobile-margin);
}

div#recipe-stats p, div#modal-recipe-content-div h2, .card-title, .card-mins, .card-cals, .card-mins-prefix, .card-cals-prefix, .modal h2 {
    font-weight: bold;
}

.modal h1, .modal h2, .modal h3, .modal p {
    margin-bottom: calc(var(--mobile-margin)/1.5);
}

#modal-help p:last-of-type{
    margin-bottom: 0;
}

.modal p {
    line-height: 1.5rem;
}

#modal-help .modal-hero img {
    -webkit-user-select:none;
    -webkit-touch-callout: none;
}

#modal-welcome, #modal-help, #modal-recipe {
    z-index: 15;
}

/* Welcome Menu */

#modal-welcome {
    max-width: 24rem;
    margin-top: 25%;
    padding: 1rem var(--mobile-margin);
}

#modal-welcome * {
    margin-bottom: calc(var(--mobile-margin)/2);
}

#modal-welcome h1 {
    margin-top: calc(var(--mobile-margin)/2);
}

/* Recipes */

.modal-content img {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: calc(var(--mobile-margin)/2);
}

.modal-content img:first-of-type {
    width: 101%;
}

.modal-content img:nth-of-type(2), .modal-content img:nth-of-type(3), .modal-content img:nth-of-type(4), .modal-content img:nth-of-type(5), .modal-content img:nth-of-type(6), .modal-content img:nth-of-type(7) {
    max-width: 70%;
}

#recipe-stats, #recipe-ings {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#recipe-stats {
    flex-direction: column;
    text-align: center;
}

#recipe-ings {
    justify-content: space-between;
}

#recipe-ing-col-1, #recipe-ing-col-2 {
    width: 50%;
}

/* Cards */

div#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 20rem;
    height: 10.5rem;
    margin: var(--mobile-margin);
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.25rem;
    cursor: pointer;
}

.card:last-of-type {
    margin-bottom: calc(var(--mobile-margin)*2);
}

.card-photo-area {
    float: left;
    width: 30%;
    height: 100%;
}

.card-photo-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 1.25rem 0 0 1.25rem;
}

.card-content {
    float: right;
    width: 70%;
    padding: 1rem;
}

.card-subtitle {
    font-style: italic;
}

.card-title, .card-subtitle, .card-desc {
    width: 100%;
}

.card-content {
    height: 10.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

.card-span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-span p {
    white-space: nowrap;
}

.card-span-line1, .card-span-line2 {
    width: 35%;
    height: 1rem;
    margin-top: -.2rem;
    border-bottom: black dotted;
}

.card-span-line2 {
    width: 29%;
}

.card-mins, .card-cals {
    text-align: right;
}

/* Footer */

footer {
    clear: both;
    background-color: var(--primary-black);
    height: 3rem;
    width: 100%;
}

footer p {
    padding: 1.0625rem 1.5rem;
    float: left;
    color: white;
    height: 100%;
}

footer a {
    height: 100%;
    float: right;
    text-align: right;
}

/* Filters */

#filter-content {
    padding: var(--mobile-margin);
    padding-top: calc(var(--mobile-margin)*3);
}

#filter-button svg {
    width: 1.75rem;
    transform: translateX(1px);
    margin-top: 2px;
}

.filter-section {
    margin-bottom: var(--mobile-margin);
}

.filter-section span {
    padding-top: .4rem;
}

.filter-section label {
    margin: calc(var(--mobile-margin)/4) 0;
    border: var(--primary-blue) solid;
    padding: calc(var(--mobile-margin)/2);
}

.filter-form img {
    -webkit-user-select:none;
    -webkit-touch-callout: none;
}

#filter-servings label {
    border: none
}

.filter-section:last-of-type, .filter-section label:last-of-type {
    margin-bottom: 0;
}

#filter-servings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#filter-servings label {
    display: flex;
    flex-direction: row;
}

#filter-servings h3 {
    display: inline-flex;
}

#filter-protein {
    display: flex;
    flex-direction: column;
}

#filter-protein label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* External */

button:focus {
    outline: none;
}

.control {
    display: block;
    position: relative;
    padding-left: 1.875rem;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    height: 1.875rem;
    width: 1.875rem;
    background: white;
    border: .1rem solid var(--primary-blue);
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc00;
}

.control input:checked ~ .control_indicator {
    background: var(--primary-blue);
}

.control.control-checkbox * {
    height: 1.875rem;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: var(--primary-blue);
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    right: 8.5%;
    top: 1rem;
    width: 6px;
    height: 14px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

/* Hovers */

.card, footer a, footer a p, #header-help-link, #header-menu-link, .button-style{
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.button-style:hover{
    background-color: var(--primary-blue);
    color: white;
}

#header-help-link:hover, #header-menu-link:hover {
    color: var(--primary-black);
    cursor: pointer;
    text-decoration: underline;
}

.card:hover {
    transform: scale(1.05);
}

footer a:hover {
    background-color: gray;
    color: var(--primary-black);
}

footer a:hover p {
    color: var(--primary-black);
}

button:hover, button img:hover, .filter:hover, .filter p:first-of-type {
    cursor: pointer;
}

.logo-text:hover, .filter p, .filter h3, #title, footer p:first-of-type, #hero-content h1:hover, .modal-content-small h1:hover, #no-results h1, #modal-recipe *:hover {
    cursor: default;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
    #recipe-stats {
        flex-direction: row;
    }
    div.modal-content-main {
        padding: 0 calc(var(--mobile-margin)*2);
    }
}

@media only screen and (min-width: 800px) {
    #hero-filter {
    background: linear-gradient(90deg, rgba(103,218,232,0.75) 0%, rgba(103,218,232,0.4) 20%, rgba(103,218,232,0.4) 80%, rgba(103,218,232,0.75) 100%);
    }
    #modal-welcome {
    transform: translateY(-50%);
    }
}

@media only screen and (min-width: 1000px) {
    .modal-close {
        top: -45.5%;
        right: 0;
        margin: auto 50%;
        transform: rotate(45deg) translateX(40rem) ;
    }
}

@media only screen and (min-height: 875px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }
}