:root {
    --primary-blue: #67DAE8;
    --primary-black: #2E2E2E;
    --primary-black-rgba: rgba(46, 46, 46, .5);
    --primary-purple: #786FFF;

    --hero-height: 17rem;
    --mobile-margin: 1.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

* {
    color: var(--primary-black);
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

h1 {font-size: 24px; font-family: 'DM Serif Display', serif; margin: 0;}
h2 {font-size: 15px; font-family: 'DM Serif Display', serif;}
h3 {font-size: 14px; font-family: 'Arimo', sans-serif; font-weight: bold;}
p  {font-size: 14px; font-family: 'Arimo', sans-serif;}

html, body, main, header, footer, .modal {
    overflow-x: hidden;
}

body {
    background-image: url(../graphics/wallpaper.svg);
    background-repeat: repeat;
}

/* Header / Hero */

#slideshow img {
    filter: blur(1px);
    height: var(--hero-height);
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    object-fit: cover;
}

#heroFilter {
    background-color: rgba(103, 218, 232, .5);
    height: var(--hero-height);
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

#heroContent {
    position: absolute;
    width: 100%;
    z-index: 3;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

#heroContent h1:first-of-type, #heroContent h2 {
    float: left;
    margin: 0;
    color: white;
}

#heroContent p {
    float: right;
    text-decoration: underline;
    color: white;
}

#heroContent p:first-of-type {
    margin-left: 1rem;
}

#heroContent h2, #recipe-desc {
    clear: both;
}

#heroContent h1:last-of-type {
    clear: both;
    text-align: center;
    font-weight: bold;
    margin: 4.5rem auto 0 auto;
    max-width: 20rem;
}

/* Main */

main {
    padding-top: var(--hero-height);
    margin: auto;
    max-width: 75rem;
}

main h1, #modal-recipe h1:last-of-type, .modal:last-child, #modal-welcome h1, #modal-welcome a, #modal-help h2 {
    text-align: center;
}

#search input {
    height: 100%;
    width: 85%;
    float: left;
    padding: 1rem;
}

input[type=search]{
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
    font-size: 14px; font-family: 'Arimo', sans-serif;
}

input[type=search]:focus {
    color: var(--primary-black);
}

.filter p {
    position: absolute;
    padding: .8rem 1rem;
}

#search button, .filter button {
    width: 15%;
    height: 100%;
    background-color: var(--primary-purple);
    float: right;
    /* transform: scale(1.02); */
        /* This corrects the outline render issues */
}

#search button img, .filter button img {
    transform: translateY(.2rem);
}

#no-results h1 {
    margin: var(--mobile-margin) 0;
}

#no-results button {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 2rem;
    clear: both;
    margin: var(--mobile-margin) 50% 0 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    border: var(--primary-purple) solid .2rem;
    color: var(--primary-black);
}

#criteria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* max-width: 50rem; */
}

#search, .filter {
    margin: var(--mobile-margin);
    height: 3rem;
    width: 100%;
    max-width: 20rem;
    border: var(--primary-purple) solid;
    background-color: white;
}

#search {
    margin-bottom: calc(var(--mobile-margin)/2) auto;
}

#filter-open {
    height: fit-content;
}

#filter-open button {
    height: 2.625rem;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-black-rgba);
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-content, .modal-content-small {
    background-color: white;
    width: 80%;
    max-width: 50rem;
    margin: var(--mobile-margin) auto;
    height: fit-content;
    border-radius: 1.25rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-content-small {
    width: 80%;
    max-width: 24rem;
    margin-top: 25%;
}

.modal-close {
    position: fixed;
    top: 0;
    right: 0;
    position: fixed;
    cursor: pointer;
    z-index: 100;
}

.modal-hero {
    border-radius: 1.25rem 0 0 0;
}

.modal-hero img {
    object-fit: cover;
    width: 101%;
    max-width: 101%;
    height: 10rem;
    border-radius: 1.25rem 0 0 0;
}

#modal-close-small {
    top: 10%;
    right: 5%;
}

div.modal-content-main {
    padding: 9%;
}

div#recipe-stats p, div#modal-recipe-content-div h2, .card-title, .card-mins, .card-cals, .card-mins-prefix, .card-cals-prefix {
    font-weight: bold;
}

.modal h1, .modal h2, .modal h3, .modal p {
    margin-bottom: calc(var(--mobile-margin)/1.5);
}

/* Welcome Menu */

#modal-welcome {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content; */
    padding: 1rem 3rem;
}

div#modal-welcome button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#modal-welcome * {
    margin-bottom: calc(var(--mobile-margin)/2);
}

#modal-welcome h1 {
    margin-top: calc(var(--mobile-margin)/2);
}

#modal-welcome button {
    margin: 1rem auto;
    width: 100%;
    max-width: 15rem;
    padding: 1rem;
    background-color: white;
    border: var(--primary-purple) solid .2rem;
    color: var(--primary-black);
}

/* Recipes */

.modal-content img {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: calc(var(--mobile-margin)/2);
}

.modal-content img:first-of-type {
    width: 101%;
}

.modal-content img:nth-of-type(2), .modal-content img:nth-of-type(3), .modal-content img:nth-of-type(4), .modal-content img:nth-of-type(5), .modal-content img:nth-of-type(6), .modal-content img:nth-of-type(7) {
    max-width: 70%;
}

#recipe-stats, #recipe-ings {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#recipe-ings {
    justify-content: space-between;
}

#recipe-ing-col-1, #recipe-ing-col-2 {
    width: 50%;
}

/* Cards */

div#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 20rem;
    height: 10.5rem;
    margin: var(--mobile-margin);
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.25rem;
    cursor: pointer;
}

.cardImg {
    float: left;
    width: 30%;
    height: 100%;
}

.cardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 1.25rem 0 0 1.25rem;
}

.card-content {
    float: right;
    width: 70%;
    padding: 1rem;
}

.card-subtitle {
    font-style: italic;
}

.card-title, .card-subtitle, .card-desc {
    width: 100%;
}

.card-content {
    height: 10.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-span p {
    white-space: nowrap;
}

.card-span-line {
    width: 50%;
    height: 16px;
    margin-top: -.33rem;
    border-bottom: black dotted;
}

.card-mins, .card-cals {
    text-align: right;
}

/* Footer */

footer {
    clear: both;
    background-color: var(--primary-black);
    height: 3rem;
}

footer p {
    padding: 1.0625rem 1.5rem;
    float: left;
    color: white;
}

footer a {
    height: 3rem;
    float: right;
    text-align: right;
}

footer a:hover {
    background-color: gray;
    color: var(--primary-black);
}

footer a:hover p {
    color: var(--primary-black);
}

/* Hover States */

footer a, footer a p {
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

/* Filters */

#filter-content {
    padding: var(--mobile-margin);
    padding-top: calc(var(--mobile-margin)*3);
}

.filter-section {
    margin-bottom: var(--mobile-margin);
}

.filter-section span {
    padding-top: .4rem;
}

.filter-section label {
    margin: calc(var(--mobile-margin)/4) 0;
    border: var(--primary-purple) solid;
    padding: calc(var(--mobile-margin)/2);
}

#filter-servings label {
    border: none
}

.filter-section:last-of-type, .filter-section label:last-of-type {
    margin-bottom: 0;
}

#filter-servings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#filter-servings label {
    display: flex;
    flex-direction: row;
}

#filter-servings h3 {
    display: inline-flex;
}

#filter-protein {
    display: flex;
    flex-direction: column;
}

#filter-protein label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* External */

button:focus {
    outline: none;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    height: 30px;
    width: 30px;
    background: white;
    border: .1rem solid var(--primary-purple);
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc00;
}

.control input:checked ~ .control_indicator {
    background: var(--primary-purple);
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: var(--primary-purple);
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    right: 8.5%;
    top: 16px;
    width: 6px;
    height: 14px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

/* Media Queries */

@media only screen and (min-width:800px) {
    
}